<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>

    <div>
      <form action="/fortune_results" method="get">
        <!-- <h2>What is your first name? <input type="text" name="first-name"></h2>
        <h2>How many siblings do you have? <input type="number" name="siblings" value=""></h2>
        <h2>What is your favorite beverage?
          <input list="beverages" name="beverage">
          <datalist id="beverages">
            <option value="Coffee">
            <option value="Milk">
            <option value="Beer">
            <option value="Water">
          </datalist>
        </h2>
        <h2>What is your favorite animal?
          <select name="animal" form="animal">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="elephant">Elephant</option>
          </select>
        </h2> -->
        <h2>Favorite city? <br>
          <input type="radio" name="city" value="sf"/> San Francisco <br>
          <input type="radio" name="city" value="paris"/> Paris <br>
          <input type="radio" name="city" value="london"/> London <br>
        </h2>
        <input type="submit" value="Submit">
      </form>
    </div>


  </body>
</html>
